<span class="pointTitle">Aquí va mí título (si tuviera uno)</span>
<textarea [(ngModel)]="data"></textarea>

<div>
  {{ documents$ | async | json }}
</div>
<button (click)="fetchData()" type="button">Fetch data</button>
<!--   <thead> -->
<!-- <table class="table"> -->
<!--     <tr> -->
<!--       <th scope="col">#</th> -->
<!--       <th scope="col">State</th> -->
<!--       <th scope="col">Value</th> -->
<!--     </tr> -->
<!--   </thead> -->
<!--   <tbody> -->
<!--     <tr *ngFor="let record of punto1$ | async; let i = index"> -->
<!--       <th scope="row">{{ i }}</th> -->
<!--       <td>{{ record.state }}</td> -->
<!--       <td>{{ record.value }}</td> -->
<!--     </tr> -->
<!--   </tbody> -->
<!-- </table> -->
<!-- <span class="pointTitle" -->
<!--   >Punto 2: Tráfico en un periodo dado por estado y carga -->
<!-- </span> -->
<!-- <table class="table"> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th scope="col">#</th> -->
<!--       <th scope="col">State</th> -->
<!--       <th scope="col">Cargo</th> -->
<!--       <th scope="col">Value</th> -->
<!--     </tr> -->
<!--   </thead> -->
<!--   <tbody> -->
<!--     <tr *ngFor="let record of punto2$ | async; let i = index"> -->
<!--       <th scope="row">{{ i }}</th> -->
<!--       <td>{{ record.state }}</td> -->
<!--       <td>{{ record.cargo }}</td> -->
<!--       <td>{{ record.value }}</td> -->
<!--     </tr> -->
<!--   </tbody> -->
<!-- </table> -->

<!-- <span class="pointTitle">Punto 3: Afectación tráfico pandemia</span> -->
<!-- <table class="table"> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th scope="col">#</th> -->
<!--       <th scope="col">Period</th> -->
<!--       <th scope="col">State</th> -->
<!--       <th scope="col">Value</th> -->
<!--     </tr> -->
<!--   </thead> -->
<!--   <tbody> -->
<!--     <tr *ngFor="let record of punto3$ | async; let i = index"> -->
<!--       <th scope="row">{{ i }}</th> -->
<!--       <td>{{ record.period }}</td> -->
<!--       <td>{{ record.state }}</td> -->
<!--       <td>{{ record.value }}</td> -->
<!--     </tr> -->
<!--   </tbody> -->
<!-- </table> -->
<!-- <span class="pointTitle" -->
<!--   >Punto 4: distribución geográfica de las embarcaciones, en un periodo -->
<!--   dado.</span -->
<!-- > -->
<!-- <table class="table"> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th scope="col">#</th> -->
<!--       <th scope="col">State</th> -->
<!--       <th scope="col">Value</th> -->
<!--     </tr> -->
<!--   </thead> -->
<!--   <tbody> -->
<!--     <tr *ngFor="let record of punto4$ | async; let i = index"> -->
<!--       <th scope="row">{{ i }}</th> -->
<!--       <td>{{ record.state }}</td> -->
<!--       <td>{{ record.value }}</td> -->
<!--     </tr> -->
<!--   </tbody> -->
<!-- </table> -->
<!-- <span class="pointTitle" -->
<!--   >Punto 5: relación entre el día de la semana y el tipo de carga en cada -->
<!--   estado? ¿La relación cambia por año?</span -->
<!-- > -->
<!-- <table class="table"> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th scope="col">#</th> -->
<!--       <th scope="col">Day</th> -->
<!--       <th scope="col">Year</th> -->
<!--       <th scope="col">Cargo</th> -->
<!--       <th scope="col">State</th> -->
<!--       <th scope="col">Value</th> -->
<!--     </tr> -->
<!--   </thead> -->
<!--   <tbody> -->
<!--     <tr *ngFor="let record of punto5$ | async; let i = index"> -->
<!--       <th scope="row">{{ i }}</th> -->
<!--       <td>{{ record.day }}</td> -->
<!--       <td>{{ record.year }}</td> -->
<!--       <td>{{ record.cargo }}</td> -->
<!--       <td>{{ record.state }}</td> -->
<!--       <td>{{ record.value }}</td> -->
<!--     </tr> -->
<!--   </tbody> -->
<!-- </table> -->
<!-- <span class="pointTitle" -->
<!--   >Pregunta 4 - Enriquecimiento datos - pregunta 1 (Cual es la temporada del -->
<!--   anio donde la pesca es mas baja) -->
<!-- </span> -->
<!-- <table class="table"> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th scope="col">#</th> -->
<!--       <th scope="col">Year</th> -->
<!--       <th scope="col">Month</th> -->
<!--       <th scope="col">Value</th> -->
<!--     </tr> -->
<!--   </thead> -->
<!--   <tbody> -->
<!--     <tr *ngFor="let record of puntoPregunta4$ | async; let i = index"> -->
<!--       <th scope="row">{{ i }}</th> -->
<!--       <td>{{ record.year }}</td> -->
<!--       <td>{{ record.month }}</td> -->
<!--       <td>{{ record.value }}</td> -->
<!--     </tr> -->
<!--   </tbody> -->
<!-- </table> -->
